<button type="button" routerLink="/customer/create">
  Create
</button>
<table class="table table-striped w-50.5 mx-auto">

  <thead class="thead-inverse">
  <tr>

    <th>ID</th>
    <th>Name</th>
    <th>Code Number</th>
    <th>Birth Day</th>
    <th>Gender</th>
    <th>Id Card</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Customer Type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers | paginate :{itemsPerPage:2,currentPage:p}">
    <td>{{customer.id}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.codeNumber}}</td>
    <td>{{customer.birthDay}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.customerType}}</td>
    <td>
      <button routerLink="/customer/delete/{{customer.id}}" class="btn btn-danger btn-delete"  >
        <i class="fas fa-trash"></i>
      </button>
    </td>
    <td>
      <button routerLink="/customer/edit/{{customer.id}}" class="btn btn-primary btn-view">
        <i class="fas fa-edit"></i>
      </button>
    </td>
  </tr>
  </tbody>

</table>

<pagination-controls (pageChange)="p=$event"></pagination-controls>
