<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contract</title>
    <link rel="stylesheet" href="../furama.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Customer</a>
                </li>
                </li>
                <li class="nav-item dropdown">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Employee</a>
                </li>
                </li>

                <li class="nav-item dropdown">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contract</a>
                </li>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<h1 class="text-center" style="color:crimson">Edit Service</h1>
<a class="btn btn-primary mb-2 ml-4" [routerLink]="'/contract-list'" role="button">Contract list</a>

<form [formGroup]="createForm" submit="submitForm()">


    <div class="form-group">
        <label>ID:</label>
        <div class="input-group mb-3">

            <input formControlName="Id" type="text" value="1" class="form-control" >


        </div>
    </div>
    <p style="color: red" >

    </p>
    <p style="color: red" >

    </p>
    </div>


    <div formGroupName="moneyGroup">
        <div class="form-group">
            <label>Code Service</label>
            <div class="input-group mb-3">

                <input formControlName="Code Service" type="text" value="123456" class="form-control" >

            </div>
        </div>
        <p style="color: red" >

        </p>
        <p style="color: red" >

        </p>
    </div>


    <div formGroupName="moneyGroup">
        <div class="form-group">
            <label>Name</label>
            <div class="input-group mb-3">

                <input formControlName="Name" type="text"value="Duong" class="form-control" >

            </div>
        </div>
        <p style="color: red" >

        </p>
        <p style="color: red" >

        </p>
    </div>

    <div formGroupName="moneyGroup">
    <div class="form-group">
        <label>Area:</label>
        <div class="input-group mb-3">

            <input formControlName="Area" type="text"value="300" class="form-control" >

        </div>
    </div>
    <p style="color: red" >

    </p>
    <p style="color: red" >

    </p>
</div>

    <div formGroupName="moneyGroup">
        <div class="form-group">
            <label>Cost</label>
            <div class="input-group mb-3">

                <input formControlName="Cost" type="text"value="300" class="form-control" >

            </div>
        </div>
        <p style="color: red" >

        </p>
        <p style="color: red" >

        </p>
    </div>

    <div formGroupName="moneyGroup">
        <div class="form-group">
            <label>Number of Person</label>
            <div class="input-group mb-3">

                <input formControlName="Number of Person" type="text" value="20" class="form-control" >

            </div>
        </div>
        <p style="color: red" >

        </p>
        <p style="color: red" >

        </p>
    </div>

    <div class="form-group">
        <label>Standard Room</label>
        <select class="form-control" name="service" formControlName="service">
            <option *ngFor=" let e of services" [ngValue]="e"> Diamond</option>
            <option *ngFor=" let e of services" [ngValue]="e"> Platinum</option>
            <option *ngFor=" let e of services" [ngValue]="e"> Gold</option>

        </select>
    </div>
    <p style="color: red" >

    </p>
    <div formGroupName="moneyGroup">
        <div class="form-group">
            <label>Description</label>
            <div class="input-group mb-3">

                <input formControlName="Description" type="text" value="Normal" class="form-control" >

            </div>
        </div>
        <p style="color: red" >

        </p>
        <p style="color: red" >

        </p>
    </div>

    <div formGroupName="moneyGroup">
        <div class="form-group">
            <label>Pool Area</label>
            <div class="input-group mb-3">

                <input formControlName="Pool Area" type="text"value="2000" class="form-control" >

            </div>
        </div>
        <p style="color: red" >

        </p>
        <p style="color: red" >

        </p>
    </div>

    <div formGroupName="moneyGroup">
        <div class="form-group">
            <label>Number of Floor</label>
            <div class="input-group mb-3">

                <input formControlName="Number of Floor" type="text" value="10" class="form-control" >

            </div>
        </div>
        <p style="color: red" >

        </p>
        <p style="color: red" >

        </p>
    </div>
    <div class="form-group">
        <label>Rental Type</label>
        <select class="form-control" name="service" formControlName="service">
            <option *ngFor=" let e of services" [ngValue]="e"> Day</option>
            <option *ngFor=" let e of services" [ngValue]="e"> Month</option>
            <option *ngFor=" let e of services" [ngValue]="e"> Year</option>

        </select>
    </div>
    <p style="color: red" >

    </p>

    <div class="form-group">
        <label>Service Type</label>
        <select class="form-control" name="service" formControlName="service">
            <option *ngFor=" let c of services" [ngValue]="c"> Villa </option>
            <option *ngFor=" let c of services" [ngValue]="c"> House</option>
            <option *ngFor=" let c of services" [ngValue]="c"> Room</option>

        </select>
    </div>
    <p style="color: red" >



    <div>
        <input class="btn btn-warning" type="submit" value="Edit" >
    </div>
    </div>
</form>
</body>
</html>
